body {
    margin: 0;
    background: #5ff8f8c1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

canvas {
    border: 2px solid #000;
    /* background: #77d9e4; */

}